{% extends "base.html" %}

{% block title %}主页{% endblock %}


{% block page_content %}
<div class="page-header">
    您好,{{current_user.username}}<br/>
    你的角色id是:
    {% for x in role_per_dict['role']%}
    {{x}}
    {% endfor %}<br/>
    你的权限是:
    {% for x in role_per_dict['permission']%}
    {{x}}
    {% endfor %}
</div>

<div>
	{% for x in role_per_dict['role'] %}
		{% if x == 31 %}
		<div>AMA总监</div>
		<div>权限是:</div>
			{% for x in role_per_dict['permission']%}
				{% if x == 0 %}
		   		<div>您拥有全部权限</div>
				{% endif %}
				{% if x == 1 %}
		   		<div>您拥有删除权限</div>
				{% endif %}
		   		{% if x == 2 %}
		   		<div>您拥有修改权限</div>
				{% endif %}
				{% if x == 3 %}
				<div>您拥有修改添加</div>
				{% endif %}
				{% if x == 4 %}
		   		<div>您拥有查看权限</div>
				{% endif %}
		    {% endfor %}
		{% endif %}
		
		{% if x == 1 %}
		<div>总经理</div>
		<div>权限是:</div>
			{% for x in role_per_dict['permission']%}
				{% if x == 0 %}
		   		<div>您拥有全部权限</div>
				{% endif %}
				{% if x == 1 %}
		   		<div>您拥有删除权限</div>
				{% endif %}
		   		{% if x == 2 %}
		   		<div>您拥有修改权限</div>
				{% endif %}
				{% if x == 3 %}
				<div>您拥有修改添加</div>
				{% endif %}
				{% if x == 4 %}
		   		<div>您拥有查看权限</div>
				{% endif %}
		    {% endfor %}
		{% endif %}
	{% endfor %}


</div>

{% endblock %}